    .user {
        width: 1230px;
        margin: 0px auto 77px;
    }
    .buku {
        width: 1000px;
        margin: 0px auto 77px;
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background: #eaebec;
        border-collapse: collapse;
        border: #ccc 1px solid;
        margin: auto;
        width: 100%;
    }
    table tbody tr: nth-child(even){
        background:#f2f2f2;
    }
    table th {
        padding: 10px 10px;
        border-left:1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        background: #53bd84;
    }
    
    table th:first-child{  
        border-left:none;  
    }
    
    table tr {
        text-align: center;
        padding-left: 20px;
    }
    
    table td:first-child {
        text-align: left;
        padding-left: 20px;
        border-left: 0;
    }
    
    table td {
        vertical-align: middle;
        padding: 5px 10px;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
        background: #fafafa;
        background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
        background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
    }
    
    table tr:last-child td {
        border-bottom: 0;
    }
    
    table tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    table tr:last-child td:last-child {
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    
    table tr:hover td {
        background: #f2f2f2;
        background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
        background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
    }
    .tambahan{
        text-align: center;
    }
    .tombol{
        padding:5px 10px;
        border-radius: 4px;
    }
    .satu{
        background: #ff0000; color: #fff;
    }
    .satu:hover{
        background: #ff9999; color: #fff;
    }
    .dua{
        background: blue; color: #fff;
    }
    .dua:hover{
        background: #6666ff; color: #fff;
    }